/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto&display=swap');

* 
{ 
    margin: 0;
    padding: 0;
    /*border: none;*/ 
    box-sizing: border-box;
}
body 
{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #090a0a;
    background-color: #c2dde6;
}

/* headings and logo */

h1, h2 
{
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    letter-spacing: 5px;
    color: #e05915;
}

/* code on logo taken from my first project */

#logo 
{
 text-align: center;
 font-size: 280%;
 padding: 30px;
 color: #e05915;
 letter-spacing: 15px;
 text-decoration: none;
}

a:link 
{
    text-decoration: none;
}

#site-header
{
    border-bottom: none;
}

/* navigation links */
/* same structure of nav code as my first project, with altered changes */

.nav ul 
{
    list-style: none;
    background-color: #ff3300;
    text-align: center;
    padding: 0;
    margin: 0; 
}

.nav li 
{
    display: inline-block;
}

.nav a
{
    text-decoration: none;
    color: #ffffff;
    width: 100px;
    display: block;
    padding: 15px;
    font-size:28px;
}

/* styling of game grid */  
.game
{
  width: 450px;
  height: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  padding: 5px;
 
}

.flip-card
{
width: 640px;
height: 640px;
margin: auto;
transform-style: preserve-3d;
transition: all 0.5s ease;
/*display: flex;
flex-wrap: wrap; */

}

/*Marina code */ 
.flip-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  /* new */ 
  transform-style: preserve-3d;
  transform: scale(1);
  transform-style: preserve-3d; 
  transition: transform .5s;
} 

.flip-card
{
  transform: scale(0.97);
  transition: transform .2s;
}

.flip-card.flip
{
  transform: rotateY(180deg);
}

/* CSS FLIP CARD YOUTUBE */ 
.front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffe6e6; 
}

.back
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffe6e6; 
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/* Timer */

/*.timer
{
  font-size: 70px;
  position: relative;
  margin-inline: 100px;
}*/

/*Buttons Start and Restart*/

/* .reset-btn
{
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: pink;
  border-radius: 5px;
  color: white;
  outline: none;
  height: 60px;
}*/


