/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap'); 

* 
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #ffe0cc;
}


/* headings and logo */

h1
{
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  letter-spacing: 5px;
}

#logo 
{
 text-align: center;
 font-size: 80px;   
 padding: 30px;
 color: turquoise;
 letter-spacing: 10px;
 text-decoration: none;
 font-family: Knewave, sans-serif;
}

#site-header
{
    border-bottom: none;
}

p{
  font-size: 30px;
    text-align: center;
    font-family: Knewave, sans-serif;
    margin-bottom: 20px;
    color: black;
}

/* styling of game grid */  

.game
{
  width: 450px;
  height: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  padding: 5px;
  margin-top: -140px;
  position: relative;
  bottom: 5%;
  top: 60%;
}

.flip-card
{
width: 640px;
height: 640px;
margin: auto;
transform-style: preserve-3d;
transition: all 0.5s ease;
}

/*Marina code youtube video to reference */ 

.flip-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  transform-style: preserve-3d; 
  transition: transform .5s;
} 

.flip-card
{
  transform: scale(0.97);
  transition: transform .2s;
}

.flip-card.flip
{
  transform: rotateY(180deg);
}

/* CSS FLIP CARD YOUTUBE */ 

.front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffff00; 
}

.back
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffffb3;  
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/*Buttons Start and Restart*/

#reload
{
 font-size: 40px;
 font-weight: bold;
 padding: 10px 20px;
 background-color: turquoise;
 border-radius: 5px;
 color: white;
 position: relative;
 left: 50.5%;
 top: 519px;
}


#timer
{
  font-weight: bold;
  margin-top: -20px;
  font-family: Knewave, sans-serif;
  font-size: 100px;
  text-align: center;
  padding: 30px;
}

/* Footer */
#footer 
{
    position: relative;
    height: 100px;
    margin-top: 200px;  
    clear: both;
    background-color: #4fe3d5 ;
}

.footer-bottom
{
    background-color: #4fe3d5;
    color: black;
    width: 100vw;
    padding: 0;
    text-align: center;
}

.footer-bottom p
{
    word-spacing: 2px;
    font-size: 20px;
}

/* Rules of Game*/

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4fe3d5;
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 15px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

h4 
{
  font-size: 50px;
    margin: 5px;
    color: black;
    letter-spacing: 5px;
    padding-top: 60px;
    text-align: center;
}

ul
{
  font-size: 15px;
  padding: 10px;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}

.show-game-rules 
{
  font-weight: bold;
    padding: 10px 20px;
    background-color: turquoise;
    border-radius: 5px;
    color: white;
    position: relative;
    left: 0px;
    font-size: 40px;
    top: 100px;
    margin-left: 418px;
}

button {
  cursor:pointer; 
}


/* Add in modal styles */

.modal-btn 
{
  background-color: turquoise;
  border: while;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  margin-top: 16px;
  font-size: 25px;
}
  
  .modalDisplay 
  {
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 2;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
  } 
  
  .backgroundDisplay
  {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  }

  /* Media Queries */

  @media all and (max-width: 320px){
    .game {
      width: 300px; 
    }
    #reload {
      left: 0px;
      font-size: 20px;
    }
    .show-game-rules{
      margin-left: 0px;
      font-size: 20px;
      left: 140px;
      margin-top: 23px;
    }
    
    #timer{
      padding: 40px;
    }
     /*note h4 purposely gone on this screen size to fit aesthetically*/ 
    h4
    {
      margin-top: 100px;
     padding: 0px;
    }

    ul
    {
      font-size: 10px;
      letter-spacing: 0px;
    }
    
   
  }


  @media all and (max-width: 668px) and (min-width: 321px){
    .game {
      width: 300px; 
    }
    #reload {
      left: 0px;
      font-size: 20px;
    }
    .show-game-rules{
      margin-left: 0px;
      font-size: 20px;
      left: 140px;
      margin-top: 23px;
    }
    
    #timer{
      padding: 40px;
    }
    
    h4
    {
      margin-top: 50px;
     padding: 0px;
    }

    ul
    {
      font-size: 10px;
      letter-spacing: 0px;
    }
   
  }

  @media all and (max-width: 1024px) and (min-width: 669px){
    .game {
      width: 300px; 
    }
    
    #timer{
      padding: 40px;
    }
    
    #reload {
      left: 180px;
      font-size: 20px;
    }
    .show-game-rules{
      margin-left: 0px;
      font-size: 20px;
      left: 320px;
      margin-top: 23px;
    }
    
    h4 {
      margin-top: 100px;
    }
   
  }


  @media all and (max-width: 1210px) and (min-width: 901px){
    .show-game-rules {
     left: 450px; 
     margin-left: 0px;
    }
    #reload {
      left: 290px;
      font-size: 20px;
    }
  }