/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap'); 

* 
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #8860d0;
}


/* headings and logo */

h1
{
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  letter-spacing: 5px;
}

#logo 
{
 text-align: center;
 font-size: 80px;   
 padding: 30px;
 color: #ffff00;
 letter-spacing: 10px;
 text-decoration: none;
 font-family: Knewave, sans-serif;
}

#site-header
{
    border-bottom: none;
}

p{
  font-size: 30px;
  text-align: center;
  font-family: Knewave, sans-serif;
}

/* The alert message box STYLING FOR POP UP BOX I TRIED ACCIDENTALLY DELETED HTML PART DIDN'T PUSH TO GIT
.alert {
  padding: 80px;
  background-color: pink;
  color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -300px;
}

The close button for alert box 
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

When moving the mouse over the close button 
.closebtn:hover {
  color: black;
}*/

/* styling of game grid */  
.game
{
  width: 450px;
  height: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  padding: 5px;
  margin-top: -140px;
  position: relative;
  bottom: 5%;
  top: 60%;
}

.flip-card
{
width: 640px;
height: 640px;
margin: auto;
transform-style: preserve-3d;
transition: all 0.5s ease;
}

/*Marina code youtube video to reference */ 
.flip-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  /* new */ 
  transform-style: preserve-3d;
  transform: scale(1);
  transform-style: preserve-3d; 
  transition: transform .5s;
} 

.flip-card
{
  transform: scale(0.97);
  transition: transform .2s;
}

.flip-card.flip
{
  transform: rotateY(180deg);
}

/* CSS FLIP CARD YOUTUBE */ 
.front
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffff00; 
}

.back
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffffb3;  
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/*Buttons Start and Restart*/

#reload
{
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: pink;
  border-radius: 5px;
  color: white;
  outline: none;
  height: 60px;
  position: relative;
  left: 50.5%;
  top: 514px;
}


#timer
{
  font-size: 60px;
  font-weight: bold;
  margin-top: -20px;
  padding: 10px;
  font-family: Knewave, sans-serif;
}

#clock 
{
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: pink;
  border-radius: 5px;
  color: white;
  outline: none;
  height: 60px;
  position: relative;
  left: 32%;
  top: 573px;
}

/* Footer */
#footer 
{
    position: relative;
    height: 100px;
    margin-top: 200px;  
    clear: both;
    background-color: #4fe3d5 ;
}

.footer-bottom
{
    background-color: #4fe3d5;
    color: black;
    width: 100vw;
    padding: 0;
    text-align: center;
}

.footer-bottom p
{
    word-spacing: 2px;
    font-size: 20px;
}

/* Rules of Game*/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4fe3d5;
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 15px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

h4 
{
  font-size: 40px;
    text-align: center;
    margin: 10px;
    color: black;
    letter-spacing: 5px;
    padding-top: 5px;
}

ul
{
font-size: 20px;
padding: 10px;
color: black;
letter-spacing: 5px;
}

.button /* TO FIXXXXXX WONT LINK TO THE BUTTON OF GAME RULES*/ 
{
  font-weight: bold;
    padding: 10px 20px;
    background-color: pink;
    border-radius: 5px;
    color: white;
    position: relative;
    bottom: 250px;
    text-align: center;
    left: 0px;
    font-size: 40px;
    top: 100px;
}



